<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo.png" type="image/png">
    <link rel="stylesheet" href="stylesheets\home.css">
    <link rel="stylesheet" href="stylesheets\main.css">
    <link rel="stylesheet" href="stylesheets\fullpage.css">
    
    <title>Home</title>

</head>
<body>
    <header>
        <img class="logo-image" src="images/logo.png" alt="Specter-free invoicing and receipt handling">
        <span class="logo-title" >Specter</span>
        <nav>
            <a class="nav-link selected" href="Home">Home</a>
            <a class="nav-link" href="accountDashBoard">Account</a>
            <a class="nav-link" href="institutionDashBoard">Institution</a>
            <a class="nav-link" href="login">Logout</a>
            
            <div class = "notification">
                <a href = "#">
                <div class = "notBtn" href = "#">
                <img id="notificationBell" src="images/bell.png" alt="notification bell">
                  <!--Number supports double digets and automaticly hides itself when there is nothing between divs -->
                  <div class = "number">99</div>
                  <i class="fas fa-bell"></i>
                    <div class = "box">
                      <div class = "display">
                        <div class = "nothing"> 
                          <i class="fas fa-child stick"></i> 
                          <div class = "cent">Looks Like your all caught up!</div>
                            </div>
                            <div class = "cont"><!-- Fold this div and try deleting evrything inbetween -->
                           <div class = "sec new">
                             <a href = "https://codepen.io/Golez/">
                             <div class = "profCont">
                             <img class = "profile" src = "https://c1.staticflickr.com/5/4007/4626436851_5629a97f30_b.jpg">
                              </div>
                             <div class = "txt">James liked your post: "Pure css notification box"</div>
                            <div class = "txt sub">11/7 - 2:30 pm</div>
                             </a>
                          </div>
                           <div class = "sec new">
                             <a href = "https://codepen.io/Golez/">
                             <div class = "profCont">
                             <img class = "profile" src = "https://obamawhitehouse.archives.gov/sites/obamawhitehouse.archives.gov/files/styles/person_medium_photo/public/person-photo/amanda_lucidon22.jpg?itok=JFPi8OFJ">
                              </div>
                             <div class = "txt">Annita liked your post: "Pure css notification box"</div>
                            <div class = "txt sub">11/7 - 2:13 pm</div>
                             </a>
                          </div>
                           <div class = "sec">
                             <a href = "https://codepen.io/Golez/">
                             <div class = "profCont">
                             <img class = "profile" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3O45RK9qyCrZJivYsY6PmeVEJH07l7bkoolJmscBsNjzump27">
                              </div>
                             <div class = "txt">Brie liked your post: "Pure css notification box"</div>
                            <div class = "txt sub">11/6 - 9:35 pm</div>
                             </a>
                          </div>
                           <div class = "sec">
                             <a href = "https://codepen.io/Golez/">
                             <div class = "profCont">
                             <img class = "profile" src = "https://c1.staticflickr.com/4/3725/10214643804_75c0b6eeab_b.jpg">
                              </div>
                             <div class = "txt">Madison liked your post: "Pure css notification box"</div>
                            <div class = "txt sub">11/6 - 4:04 pm</div>
                             </a>
                          </div>
                           <div class = "sec">
                             <a href = "https://codepen.io/Golez/">
                             <div class = "profCont">
                             <img class = "profile" src="https://upload.wikimedia.org/wikipedia/commons/5/52/NG_headshot_white_shirt_square_Jan18.jpg">
                              </div>
                             <div class = "txt">Ted liked your post: "Pure css notification box"</div>
                            <div class = "txt sub">11/6 - 10:37 am</div>
                             </a>
                          </div>
                           <div class = "sec">
                             <a href = "https://codepen.io/Golez/">
                             <div class = "profCont">
                             <img class = "profile" src = "https://upload.wikimedia.org/wikipedia/commons/d/dd/Pat-headshot-square.jpg">
                              </div>
                             <div class = "txt">Tommas liked your post: "Pure css notification box"</div>
                            <div class = "txt sub">11/5 - 7:30 pm</div>
                             </a>
                          </div>
                           <div class = "sec">
                             <a href = "https://codepen.io/Golez/">
                             <div class = "profCont">
                             <img class = "profile" src = "https://c1.staticflickr.com/8/7407/13785133614_6254abb8c4.jpg">
                              </div>
                             <div class = "txt">Claire liked your post: "Pure css notification box"</div>
                            <div class = "txt sub">11/5 - 2:30 pm</div>
                             </a>
                          </div>
                           <div class = "sec">
                             <a href = "https://codepen.io/Golez/">
                             <div class = "profCont">
                             <img class = "profile" src = "//c1.staticflickr.com/1/185/440890151_54c5b920b0_b.jpg">
                              </div>
                             <div class = "txt">Jerimaiah liked your post: "Pure css notification box"</div>
                            <div class = "txt sub">11/5 - 1:34 pm</div>
                             </a>
                          </div>
                           <div class = "sec">
                             <a href = "https://codepen.io/Golez/">
                             <div class = "profCont">
                             <img class = "profile" src = "//c2.staticflickr.com/4/3397/3585544855_28442029a5_z.jpg?zz=1">
                              </div>
                             <div class = "txt">Debra liked your post: "Pure css notification box"</div>
                            <div class = "txt sub">11/5 - 10:20 am</div>
                             </a>
                          </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </a>
            </div>
           
        </nav>
    </header>

    <div id="wrapper">
        <div class="section" data-anchor="page1" id="first">
        <img class="mainBackground" src="images/homeImage.jpg" alt="background image">
            <div class="newsFeed">
                <h1>News Feed</h1>
                <article class="newsPiece">
                    <h1>Title1</h1>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas quia eaque asperiores eos temporibus quibusdam repellat alias tenetur odit nobis vero perspiciatis incidunt doloribus voluptates nam vitae esse, aspernatur dicta.
                </article>
                <article class="newsPiece">
                    <h1>Title2</h1>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas quia eaque asperiores eos temporibus quibusdam repellat alias tenetur odit nobis vero perspiciatis incidunt doloribus voluptates nam vitae esse, aspernatur dicta.
                </article>
                <article class="newsPiece">
                    <h1>Title3</h1>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas quia eaque asperiores eos temporibus quibusdam repellat alias tenetur odit nobis vero perspiciatis incidunt doloribus voluptates nam vitae esse, aspernatur dicta.
                </article>
                <article class="newsPiece">
                    <h1>Title4</h1>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas quia eaque asperiores eos temporibus quibusdam repellat alias tenetur odit nobis vero perspiciatis incidunt doloribus voluptates nam vitae esse, aspernatur dicta.
                </article>
            </div>
            <div class="searchInstitution">      
                <div class="search-box">
                    <input class="search-txt" type="text" name="searchInstitution" placeholder="Type to search">
                    <a href="#" class="search-btn">
                        ⌕
                        <!-- <i class="far fa-search"></i> -->
                    </a>
                    </div>
                    <article class="searchedItem">
                        <a class="nav-link" href="">Facultatea de Informatica</a>
                    </article>
                    <article class="searchedItem">
                        <a class="nav-link" href="">Universitatea Alexandru Ioan Cuza</a>

                    </article>
                    <article class="searchedItem">
                        <a class="nav-link" href="">
                            UMF Grigore T. Popa Iasi
                        </a>
                    </article>
                    <article class="searchedItem">
                        <a class="nav-link" href="">
                           Politia
                        </a>
                    </article>
            </div>
        </div>
        <div class="section" data-anchor="page2" id="second">
        </div>
        <div class="section" data-anchor="page3" id="third">
        </div>
    </div>

    <section>

    </section>
    
    <footer>
        <a href="terms">Terms</a>
        <a href="contact">Contact</a>
    </footer>
</body>
<link href="https://fonts.googleapis.com/css?family=Montserrat|Pacifico|Sacramento&display=swap" rel="stylesheet">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/fontawesome.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="javascripts/fullpage.js"></script>
    <script src="javascripts/home.js"></script>
</html>