<!DOCTYPE html>
<html>
  <head>
    <title><%= vewCount %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= vewCount %></h1>
    <p>Welcome to <%= vewCount %></p>
  </body>
</html>
