input[type=text], input[type=password] ,input[type=email] {
    width: 70%;
    padding: 12px 20px;
    margin: 5px;
    /*display: inline-block;*/
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    outline-color: var(--milkyWhite);
   
}

.textCorrectitude{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Checkmark image*/
.checkmark {
    display:inline-block;
    width: 2em;
    height:2em;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_circle {
    position: absolute;
    width:2em;
    height:2em;
    background-color: green;
    border-radius:50%;
    left:0;
    top:0;
}

.checkmark_stem {
    position: absolute;
    width:0.27em;
    height:0.81em;
    background-color:#fff;
    left:1em;
    top:0.54em;
}

.checkmark_kick {
    position: absolute;
    width:0.27em;
    height:0.27em;
    background-color:#fff;
    left:0.72em;
    top:1.09em;
}
/*CheckMark Sign*/
/*red x sign*/
.failmark {
    display:inline-block;
    width: 2em;
    height:2em;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.failmark_circle {
    position: absolute;
    width:2em;
    height:2em;
    background-color: var(--deepOrange);
    border-radius:50%;
    left:0;
    top:0;
}

.failmark_side1 {
    position: absolute;
    width:0.27em;
    height:1em;
    background-color:#fff;
    left:0.9em;
    top:0.5em;
}

.failmark_side2 {
    position: absolute;
    width:0.27em;
    height:1em;
    background-color:#fff;
    left:0.9em;
    top:0.5em;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
/*red x sign*/

.flexContainer{
    display: flex;
    justify-content: center;
}
.wrapperInstitutions{
    display: flex;
    justify-content: center;
    width: 75vh;
    height:auto;

}
.institutionCreationForm{
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 50vh;

}

#contactInstitution{
    color: white;   
    position: relative;
    margin: auto;
    font-size: 2rem;
    margin-bottom: 15px;
}

.inputContainer{
    display:flex;
    flex-flow: row;
    align-items: center;

}

.institutionInformation{
    margin-top:10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:150vh;
    height:auto;
    background-color:white /*var(--darkCyan)*/;
    color:var(--milkyWhite);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 40px;
    margin-bottom:10%;
    color: black;
    
}

.submitButton{
    margin-left: 20px;
    width:15vh;
    height:5vh;
    border-radius: 12px;
    color: var(--milkyWhite);
    background-color: var(--deepOrange);
    border:2px solid var(--deepOrange);
    transition: 0.5s;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 20px;
    position: relative;
}

.submitButton:hover{
    border-radius: 20px;
    transition: 0.5s;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 20px;
    
}

label{
    margin-top:20px;
    color: white;
    position: relative;
}
