body{
    overflow-x: hidden;
}
.flexContainer{
    width: 100vw;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid var(--milkyWhite);
}
.wrapperInstitutions{ 
    margin-top:20vh ;
    margin-bottom: 10vh;
    padding:0px;
    background-color: var(--darkCyan);
    box-shadow: 10px 10px 30px rgb(32, 32, 32);
    width:90vw;
    height:auto;
    z-index:20;
}
.institutionList{
    margin-left: 4vw;
    font-size: 1.5em;
    color:var(--milkyWhite);
}

.institutionItem{
  margin:20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: left;
}

/*dropdown*/
.showLeft{
    color:#fff ;
    padding:10px;
    width: 0.5em;
    bottom:500px;
    
}


.dropdown {
    position: relative;

}

.icons li {
    background: none repeat scroll 0 0 #fff;
    height: 7px;
    width: 7px;
    line-height: 0;
    list-style: none outside none;
    margin-right: 15px;
    margin-top: 3px;
    vertical-align: top;
    border-radius:50%;
    pointer-events: none;
}

.btn-left {
    left: 0.4em;
}

.btn-right {
    right: 0.4em;
}

.btn-left, .btn-right {
    position: absolute;
    top: 10em;
    right:2em;
}

.dropbtn {
    position: relative !important;
    background-color: var(--darkCyan);
    position: fixed;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: var(--deepGray);
}
.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 20px;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 40;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

#dropButtonTemplate{
    display: none;
}

.show {display:block;}



/*aici se afla css pt institution*/

.banner{
    width:100vw;
    height:50vh;
    object-fit: cover;
}
.institutionTitle{
    
    color:var(--milkyWhite);
    font-size:3.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px var(--textShadow),
        1px 2px 1px var(--textShadow),
        1px 3px 1px var(--textShadow),
        1px 4px 1px var(--textShadow),
        1px 5px 1px var(--textShadow),
        1px 6px 1px var(--textShadow),
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
    position:absolute;
}
.institutionInfo{
    height:auto;
    min-height: 100vh;
    
}

.fullBanner{
    display:flex;
}

.info{
    margin-top:5vh;
    background:var(--darkCyan);
    padding:30px;
    height:auto;
    min-height: 200px;
    color:var(--milkyWhite);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:90vw;

}






input[type=text], input[type=password] ,input[type=email] {
    width: 45%;
    padding: 12px 20px;
    margin: auto;
    /*display: inline-block;*/
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    margin-top: 20px;
    outline-color: var(--milkyWhite);

    
}

#contactInstitution{
    color: white;   
    position: relative;
    margin: auto;
    left: 45%;
    font-size: 2rem;
    margin-bottom: 15px;
}

.inputContainer{
    display:flex;
    flex-flow: row;
    align-items: center;

}

.institutionInformation{
    margin-top:10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:150vh;
    height:auto;
    background-color:white /*var(--darkCyan)*/;
    color:var(--milkyWhite);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 40px;
    margin-bottom:10%;
    color: black;
}

.submitButton{
    margin-left: 20px;
    width:15vh;
    height:5vh;
    border-radius: 12px;
    color: var(--milkyWhite);
    background-color: var(--deepOrange);
    border:2px solid var(--deepOrange);
    transition: 0.5s;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 20px;
    position: relative;
    left:45%;
}

.submitButton:hover{
    border-radius: 20px;
    transition: 0.5s;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 20px;
    
}

label{
    color: white;
    position: relative;
    left: 27%;
}
