body {
    overflow-x: hidden;
}

.flexContainer {
    width: 100vw;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapperInstitutions {
    margin-top: 20vh;
    margin-bottom: 10vh;
    padding: 0px;
    background-color: var(--darkCyan);
    box-shadow: 10px 10px 30px rgb(32, 32, 32);
    width: 90vw;
    height: auto;
    z-index: 20;
}

.font {
    font-size: 2em;
    color: var(--milkyWhite);
    margin-left: 10%;
}

.institutionList {
    margin-left: 4vw;
    font-size: 1.5em;
    color: var(--milkyWhite);
}

.institutionItem {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: left;
    flex-flow: column;
}

.institutionItemDiv {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: left;
    flex-flow: row;
}

.institutionItemSpan {
    margin-left: 40px;
}

#titleAndButton {
    display: flex;
    flex-direction: row;
}

#changeButton {
    background-color: var(--loginGreen);
    color: rgb(255, 255, 255);
    margin: none;
    border: none;
    cursor: pointer;
    width: 180px;
    border-radius: 15px;
    margin-left: 5vw;
}

#changeButton:hover {
    opacity: 0.5;
    transition: opacity 1s ease-out;
}


/*dropdown*/

.showLeft {
    color: #fff;
    padding: 10px;
    width: 0.5em;
    bottom: 500px;
}

.dropdown {
    position: relative;
}

.icons li {
    background: none repeat scroll 0 0 #fff;
    height: 7px;
    width: 7px;
    line-height: 0;
    list-style: none outside none;
    margin-right: 15px;
    margin-top: 3px;
    vertical-align: top;
    border-radius: 50%;
    pointer-events: none;
}

.btn-left {
    left: 0.4em;
}

.btn-right {
    right: 0.4em;
}

.btn-left,
.btn-right {
    position: absolute;
    top: 10em;
    right: 2em;
}

.dropbtn {
    position: relative !important;
    background-color: var(--darkCyan);
    position: fixed;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: var(--deepGray);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 170px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 40;
}

.dropdown-content a {
    color: black;
    padding: 4px 10px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.dropdown a:hover {
    background-color: #f1f1f1
}

#dropButtonTemplate {
    display: none;
}

.show {
    display: block;
}


/*aici se afla css pt institution*/

.banner {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
}

.institutionTitle {
    color: var(--milkyWhite);
    font-size: 3.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px var(--textShadow), 1px 2px 1px var(--textShadow), 1px 3px 1px var(--textShadow), 1px 4px 1px var(--textShadow), 1px 5px 1px var(--textShadow), 1px 6px 1px var(--textShadow), 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
    position: absolute;
}

.institutionInfo {
    display: flex;
    height: auto;
    min-height: 30vh;
    justify-content: center;
    margin-bottom: 10vh;
}

.documents {
    min-height: 30vh;
    min-width: 85vw;
    background-color: var(--darkCyan);
    box-shadow: 10px 10px 30px rgb(32, 32, 32);
}

#documentsTitle {
    margin-top: 10px;
    font-size: 2em;
}

.fullBanner {
    display: flex;
}

.info {
    margin-top: 5vh;
    background: var(--darkCyan);
    padding: 30px;
    height: auto;
    min-height: 200px;
    color: var(--milkyWhite);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 90vw;
}


/*aici am copiat din Account Dashboard.css*/

input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    margin-top: 15px;
    outline-color: var(--milkyWhite);
}

.modifyRoleWrapper,
.createRoleWrapper,
.addMembersWrapper {
    margin-top: 20vh;
    display: none;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    min-height: 100vh;
    width: 61vw;
}

.modifyRole,
.createRole,
.addMembers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vh;
    height: auto;
    background-color: var(--darkCyan);
    color: var(--milkyWhite);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 40px;
    margin-bottom: 10%;
}

#defaultUserPhoto {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
}

.inputContainer {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.formButtons {
    margin-left: 30%;
    width: 5vw;
    height: 5vh;
    border-radius: 50%;
    color: var(--milkyWhite);
    background-color: var(--deepOrange);
    border: 2px solid var(--deepOrange);
    transition: 0.5s;
}

.formButtons2 {
    margin-left: 20px;
    width: 5vw;
    height: 5vh;
    border-radius: 50%;
    color: var(--milkyWhite);
    background-color: var(--deepOrange);
    border: 2px solid var(--deepOrange);
    transition: 0.5s;
}

.formButtons:hover,
.formButtons2:hover {
    border-radius: 10%;
    transition: 0.5s;
}

.center {
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

input[name="Edit2"],
input[name="Submit"] {
    margin-left: 20px;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    color: var(--milkyWhite);
    background-color: var(--deepOrange);
    border: 2px solid var(--deepOrange);
    transition: 0.5s;
}

input[name="Edit2"]:hover,
input[name="Submit"]:hover {
    border-radius: 10%;
    transition: 0.5s;
}

#rightsContainer,
#ButtonContainer {
    display: flex;
    flex-direction: column;
    min-width: 22vw;
}

.labelAndInput {
    display: flex;
    flex-direction: row;
    min-width: 22vw;
}

.rightsLabel {
    justify-self: right;
    align-self: flex-start;
    margin-top: 0px;
}

.stergeAsta {
    margin-left: 5%;
    display: flex;
    height: 50%;
    justify-content: center;
    align-self: center;
}

.modifyAsta {
    margin-left: 5%;
    display: flex;
    height: 50%;
    justify-content: center;
    align-self: center;
}

.removeAsta {
    margin-left: 5%;
    display: flex;
    height: 50%;
    justify-content: center;
    align-self: center;
}


/* Edit page */

.modifyInstitutionWrapper {
    margin-top: 10em;
    margin-bottom: 10em;
    display: none;
    justify-content: center;
}

#editInstitution {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 10fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    width: 80vw;
    padding-top: 11vh;
    padding-left: 50px;
    padding-right: 50px;
    background-color: var(--darkCyan);
    box-shadow: 10px 10px 30px rgb(32, 32, 32);
}

#modifyInstitutionTitle {
    height: 1.25em;
    color: #fff;
    border-bottom: 4px solid #fff;
    position: absolute;
    margin: 20px;
    font-size: 2em;
}

.submitButton {
    margin-left: 20px;
    width: 15vw;
    height: 5vh;
    border-radius: 12px;
    color: var(--milkyWhite);
    background-color: var(--deepOrange);
    border: 2px solid var(--deepOrange);
    transition: 0.5s;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 20px;
    position: relative;
}

.submitButton:hover {
    border-radius: 20px;
    transition: 0.5s;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 20px;
}

label {
    margin-top: 20px;
    color: white;
    position: relative;
}

.addMemberFormWrapper {
    display: flex;
    justify-content: center;
}

#addMemeber {
    margin-top: 30vh;
    margin-bottom: 10vh;
    width: 50vh;
    height: auto;
    padding-top: 11vh;
    padding-left: 50px;
    padding-right: 50px;
    background-color: var(--darkCyan);
    box-shadow: 10px 10px 30px rgb(32, 32, 32);
}

#addMemeberTitle {
    height: 1.25em;
    color: #fff;
    border-bottom: 4px solid #fff;
    position: relative;
    font-size: 2em;
}

.textCorrectitude {
    margin-top: 20px;
}


/*Checkmark image*/

.checkmark {
    display: inline-block;
    width: 2em;
    height: 2em;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_circle {
    position: absolute;
    width: 2em;
    height: 2em;
    background-color: green;
    border-radius: 50%;
    left: 0;
    top: 0;
}

.checkmark_stem {
    position: absolute;
    width: 0.27em;
    height: 0.81em;
    background-color: #fff;
    left: 1em;
    top: 0.54em;
}

.checkmark_kick {
    position: absolute;
    width: 0.27em;
    height: 0.27em;
    background-color: #fff;
    left: 0.72em;
    top: 1.09em;
}


/*CheckMark Sign*/


/*red x sign*/

.failmark {
    display: inline-block;
    width: 2em;
    height: 2em;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.failmark_circle {
    position: absolute;
    width: 2em;
    height: 2em;
    background-color: var(--deepOrange);
    border-radius: 50%;
    left: 0;
    top: 0;
}

.failmark_side1 {
    position: absolute;
    width: 0.27em;
    height: 1em;
    background-color: #fff;
    left: 0.9em;
    top: 0.5em;
}

.failmark_side2 {
    position: absolute;
    width: 0.27em;
    height: 1em;
    background-color: #fff;
    left: 0.9em;
    top: 0.5em;
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}


/*red x sign*/

#membersDashboardTab {
    display: none;
    padding-left: 2em;
}

#membersDashboardTab>* {
    margin: 1em;
}

#actualInstitutionName {
    margin: 0em;
}

#instNameAndAddButton {
    display: block;
}

#membersDashboardTabAddMember {
    margin: 0;
    width: auto;
    height: 3em;
    display: flex;
    align-content: center;
}

#membersDashboardTabBack {
    margin-top: 3em;
    margin-left: 0em;
    margin-bottom: 1em;
}


/*red x sign*/

#membersRolesTab {
    display: none;
    padding-left: 2em;
}

#membersRolesTab>* {
    margin: 1em;
}

#actualInstitutionNameRole {
    margin: 0em;
}

#instNameRoleAndAddButton {
    display: block;
}

#membersRolesTabAddRole {
    margin: 0;
    width: auto;
    height: 3em;
    display: flex;
    align-content: center;
}

#membersRolesTabBack {
    margin-top: 3em;
    margin-left: 0em;
    margin-bottom: 1em;
}