input[type=text], input[type=password] ,input[type=email] {
    width: 45%;
    padding: 12px 20px;
    margin: auto;
    /*display: inline-block;*/
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    margin-top: 20px;
    outline-color: var(--milkyWhite);

    
}

#contactInstitution{
    color: white;   
    position: relative;
    margin: auto;
    left: 45%;
    font-size: 2rem;
    margin-bottom: 15px;
}

.inputContainer{
    display:flex;
    flex-flow: row;
    align-items: center;

}

.institutionInformation{
    margin-top:10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:150vh;
    height:auto;
    background-color:white /*var(--darkCyan)*/;
    color:var(--milkyWhite);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 40px;
    margin-bottom:10%;
}

.submitButton{
    margin-left: 20px;
    width:15vh;
    height:5vh;
    border-radius: 12px;
    color: var(--milkyWhite);
    background-color: var(--deepOrange);
    border:2px solid var(--deepOrange);
    transition: 0.5s;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 20px;
    position: relative;
    left:45%;
}

.submitButton:hover{
    border-radius: 20px;
    transition: 0.5s;
    margin: auto;
    
}

label{
    color: white;
    position: relative;
    left: 27%;
}
