:root {
  /*!Aici treceti culorile custom de la ce faceti sa nu va prind fara variabile*/
  --deepOrange:#BF0A30;
  --lightCyan:#e0e0e0;
  --darkCyan:#2C2C2C;
  --textShadow:#919191;
  --loginGreen:#BF0A30;
  --milkyWhite:#f5f5f5;
  --deepGray:rgb(83, 83, 83);
}
 header{
  position:fixed;
  height: 17%;
  width: 100%;
  background: var(--darkCyan);
  z-index:10;
  box-shadow: 0px 10px 25px rgba(16,16,16,0.5);
  display: flex;
  align-items: center;
  padding-left: 5vw;
  padding-right: 0vw;
} 
.logo-image{
  width:15vh;
  height:15vh;
}
.logo-title{
  color:var(--milkyWhite);
  font-size:3.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 1px var(--textShadow),
      1px 2px 1px var(--textShadow),
      1px 3px 1px var(--textShadow),
      1px 4px 1px var(--textShadow),
      1px 5px 1px var(--textShadow),
      1px 6px 1px var(--textShadow),
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}

nav{
  width:50vw;
  height:15vh;
  padding: 0px;
  margin-left:25vw;
  margin-right: 0px;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
  align-content: space-evenly;
}
.nav-link{

  margin-left: 10px;
  margin-right: 10px;
  padding:10px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25em;
  color:var(--milkyWhite);
  size: 10em;
  background-color: var(--deepGray);
  box-shadow: 1px 1px 10px black;
  border-bottom: 4px solid var(--deepGray);
}
.nav-link:hover{
  background-color: grey;
  border-bottom:4px solid var(--milkyWhite);
  transition: background-color 1s linear,
              border-bottom 0.5s linear;
}
.loginForm .nav-link{

  margin-left: 10px;
  margin-right: 10px;
  padding:10px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.75vh;
  color:var(--milkyWhite);
  background-color: var(--deepGray);
  box-shadow: 1px 1px 10px black;
  border-bottom: 4px solid var(--deepGray);
}

.loginForm .nav-link:hover{
  background-color: grey;
  border-bottom:4px solid var(--milkyWhite);
  transition: background-color 1s linear,
              border-bottom 0.5s linear;
}


.loginForm{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginText{

  top:15vh;
  z-index: 10;
  position: absolute;
  display: flex;
  
  height:50vh;
  width:50vh;
  margin-top: 25px;
  text-transform: uppercase;
  font-family: verdana;
  font-size: 1em;
  font-weight: 700;
  color: var(--milkyWhite);
  text-shadow: 1px 1px 1px var(--textShadow),
      1px 2px 1px var(--textShadow),
      1px 3px 1px var(--textShadow);
 
}

input[type=text], input[type=password] ,input[type=email],input[type=lastname],input[type=firstname] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 15px;
  text-align: center;
  margin-top: 15px;
}

#register-form input[type=text],#register-form input[type=password],#register-form input[type=email],#register-form input[type=lastname],#register-form input[type=firstname] {
  height:5%;
}

#loginButton {
  background-color: var(--loginGreen);
  color: rgb(255, 255, 255);
  padding: 14px 20px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  width: 75%;
  display: block;
  border-radius: 15px;
}

#loginButton:hover {
  opacity: 0.5;
  transition:opacity 1s ease-out;
}

@media only screen and (min-width:650px) and (max-width: 1200px) {

  .loginText{
    width: 50vh;
  }
  .logo-title{
    font-size: 4vw;
  }
  nav{
    width:60vw;
    height:15vh;
    padding: 0px;
    margin-left:2vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
  }
  .nav-link{
    margin-left: 0px;
    margin-right: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.75vh;
    color:var(--milkyWhite);
    background-color: var(--deepGray);
    box-shadow: 1px 1px 10px black;
  }

}

@media only screen and (max-width: 650px){
  .loginText{
    width: 30vh;
  }
  .loginText .nav-link{
    font-size: 0.4em;
  }
  header{
    height:10vh;
  }
  .logo-image{
    width:5vh;
    height:5vh;
  }
  .logo-title{
    font-size: 5vw;
  }
  nav{
    width:50vw;
    height:15vh;
    padding: 0px;
    margin-left:5vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .nav-link{
    padding:0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.5em;
    color:var(--milkyWhite);
    background-color: var(--deepGray);
    box-shadow: 1px 1px 10px black;
  }
}


/*
 --deepOrange:#FF9B61;
  --lightCyan:#00B3B2;
  --darkCyan:#00898b;
  --textShadow:#919191;
  --loginGreen:#4CAF50;
  --milkyWhite:#f5f5f5;
*/
  /*!Aici treceti culorile custom de la ce faceti sa nu va prind fara variabile*/


/*Pentru a schimba fiecare pagina in parte*/

.section#first{
   background:var(--lightCyan);
   display: flex;
   align-content: center;
   justify-content: center;
   
}
#backgroundLogin{
  width:100vw;
  height:100vh;
}
/*aici era section second mutat mai jos */
.section#second{
  background:var(--deepOrange);
}

.section#third{
  background:var(--lightCyan);
}
.section#forth{
  background:var(--deepOrange);
}
.section#fifth{
  background:var(--lightCyan);
}

/*Aici se poate schimba cum arata stilul textului pe toata pagina inclusiv locatie marime daca se doresc stiluri diferite in functie de sectiune exista varianta 
.section#[numarth] .niceCenteredText{}
*/
 .niceCenteredText{

  position: absolute;
  top: 50%; 
  right: 50%;
  transform: translate(50%,-50%);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 4vh;
  font-weight: 700;
  color: var(--milkyWhite);
  text-shadow: 1px 1px 1px var(--textShadow),
      1px 2px 1px var(--textShadow),
      1px 3px 1px var(--textShadow),
      1px 4px 1px var(--textShadow),
      1px 5px 1px var(--textShadow),
      1px 6px 1px var(--textShadow),
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}


.container {
  position: absolute;
  display:flex;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
  padding: 16px;
  background-color: var(--darkCyan);
  width: 100%;
  height: 65vh;
  box-shadow: 30px 30px 40px rgb(39, 39, 39);

}
.remember_me{
  font-size: 14px;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
}


.attentionCatcher{
  background:var(--deepOrange);
  color: white;
  padding: 10px 0px;
  margin: 0px 0;  
  border: none;
  cursor: pointer;
  width: 100%;
  position: absolute;
  bottom:0px;
  height: 5%;
  transition-property: height;
  transition: 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.attentionCatcher:hover{
  background-color: var(--deepOrange);
  color: white;
  padding: 10px 0px;
  margin: 0px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  position: absolute;
  bottom:0px;
  height:7.5%;
  transition-property:height;
  transition: 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

/*hrefurile de login si register
#login-tab{

  height:8em;
  width:20em;

  top: 45%; 
  right: 50%;
  transform: translate(50%,-50%);
  text-transform: none;
  font-family: verdana;
  font-size: 1em;
  font-weight: 700;
  color: var(--milkyWhite);
  text-shadow: 1px 1px 10px var(--textShadow);
     
}

#register-tab{
  height:8em;
  width:20em;

  top: 45%; 
  right: 50%;
  transform: translate(50%,-50%);
  text-transform: none;
  font-family: verdana;
  font-size: 1em;
  font-weight: 700;
  color: var(--milkyWhite);
  text-shadow: 1px 1px 10px var(--textShadow);
}



*/
.customerReview-text{
  padding: 20px;
  font-size: 20px;
  color: var(--milkyWhite);
}

.customerCollection{
  height:80%;
  display:flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  
}

.customerReview{
  height:20%;
  width:75%;
  display: flex;
 

}

.customerReview:nth-of-type(2n+1){
  flex-flow: row-reverse;
  text-align: right;
  
}

.customerReview-photo{
  width:20vh;
  height:20vh;
  border-radius:50%;
  text-align: left;
}


.flexFeatureWrapper{
  top:5vh;
  position: absolute;
  z-index: 20;
  height:120vh;
  display: flex;
  justify-content: center;
  /* border:2px solid pink; */
}

  
.appFeatures{
  position: relative;
  /* border: 1px solid blue; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100vh;
  width: 90vw;
  grid-gap: 80px;
  grid-template-areas: 
    "x x x x x x"
    "a a b b f f"
    "a a b b f f"
    "c c d d e e"
    "c c d d e e";
    ;
    margin-right: 5vw;
    margin-left: 5vw;
    font-size: 1vw;
  }
.feature1 {
  
  grid-area: a;
  padding: 20px;
  background-color: var(--darkCyan);
  box-shadow: 10px 10px 12px black;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--lightCyan);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 200px;

}
.feature2 {
  grid-area: b;
  padding: 20px;
  background-color: var(--darkCyan);
  box-shadow: 10px 10px 12px black;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--lightCyan);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 200px;
  height: 200px;


}
.feature3 {
  grid-area: c;
  padding: 20px;
  background-color: var(--darkCyan);
  box-shadow: 10px 10px 12px black;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--lightCyan);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 200px;


}
.feature4 {
  grid-area: d;
  padding: 20px;
  background-color: var(--darkCyan);
  box-shadow: 10px 10px 12px black;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--lightCyan);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 200px;


}
.feature5 {
  grid-area: e;
  padding: 20px;
  background-color: var(--darkCyan);
  box-shadow: 10px 10px 12px black;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--lightCyan);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 200px;


}
.feature6 {
  grid-area: f;
  padding: 20px;
  background-color: var(--darkCyan);
  box-shadow: 10px 10px 12px black;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--lightCyan);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 200px;


}

.appFeatures img{
  width: 10vh;
  height: 10vh;
}

/*--------------*/
.business-card-collection{
  display: flex;
  width:100vw;
  height:100vh;
  justify-content: space-around;
  align-content: center;
}

.business-card1{
  width: 30vw;
  height: 40vh;
}
.business-card2{
  width: 30vw;
  height: 40vh;
}

.middle1{
  top:40%;
  position: absolute;
  margin-left: 20vw;
}
.middle2{
  top:40%;
  left:0%;
  position: absolute;
  margin-left: 10vw;

}

.front,.back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s linear;
}

.front{
  background: rgba(255,255,255,.7);
  padding: 40px;
  transform: perspective(600px) rotateX(180deg);
}

.front::before,.front::after{
  content: "";
  position: absolute;
  right: 0;
}

.front::before{
  background: var(--deepOrange);
  width: 80px;
  height: 120px;
  bottom: 0;
  clip-path:polygon(0 100%,40% 0,100% 100%);
}

.front::after{
  background: rgb(145, 0, 31);
  width: 100px;
  height: 100%;
  top: 0;
  clip-path:polygon(0 0,100% 0,100% 100%,80% 100%);
}

.front h2{
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.front span{
  background: var(--deepOrange);
  color: #fff;
  padding: 4px 10px;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 2vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.front .contact-info li{
  margin: 10px 0;
  display: flex;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.front .contact-info li i{
  width: 26px;
  height: 26px;
  background: var(--deepOrange);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.back{
  padding: 20px;
  background: var(--darkCyan);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.8vh;
  transform: perspective(600px) rotateX(0deg);
}

.business-card1-active .front{
  transform: perspective(600px) rotateX(0deg);
}
.business-card1-active .back{
  transform: perspective(600px) rotateX(-180deg);
}


.business-card2-active .front{
  transform: perspective(600px) rotateX(0deg);
}
.business-card2-active .back{
  transform: perspective(600px) rotateX(-180deg);
}
.faq{
  padding: 15vh;
}
.faq span{
  font-size: 3vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:white;
}

footer{
  display:flex;
  justify-content: center;
  align-items: center;
  z-index:30;
  width:100vw;
  background-color: var(--darkCyan);
  color:var(--milkyWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  height:50px;
  bottom:0vh;
}